/*
    Describe your light-mode colors here
*/
$light-background: #e2e2e2;
$light-color: #303030;

/*
    Describe your dark-mode colors here
*/
$dark-background: #0f0f0f;
$dark-color: #ffffff;

/*
    You may add other-mode colors here, but note that it will be supported by only manual change
    ......
*/


/*
    Describe variable name (for css)
*/
$background: --background;
$color: --color;

/*
    You may heard about sass:map, we are creating theme key maps here
*/

$light-theme-map: (
    $background: $light-background,
    $color: $light-color,
);

$dark-theme-map: (
    $background: $dark-background,
    $color: $dark-color,
);